.box{
    display: flex;
    justify-content: center;
}
.closebutton {
    background: #e62143;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    justify-content: center;
    line-height: 33.4929px;
    padding: .8em 1em;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    text-underline-offset: 1px;
    transition: all .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    word-break: break-word;
    border: 0;
  }
  
  .closebutton:active,
  .closebutton:focus {
    border-bottom-style: none;
    border-color: #dadada;
    box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
    outline: 0;
  }
  
  .closebutton:hover {
    border-bottom-style: none;
    border-color: #dadada;
  }

 
.purchaseButton{
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.purchaseButton:hover,
.purchaseButton:focus {
  opacity: .75;
}

.removeButton {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .removeButton:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
  }
  
  .removeButton:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .removeButton:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .removeButton:disabled:active {
    pointer-events: none;
  }
  
  .removeButton:disabled:hover {
    box-shadow: none;
  }