.container{
    background-color: skyblue;
    display: flex;
    justify-content: row;
    height: 210px;
    margin-top: 20px;
}
h2{
    font-weight: 200px   ;
}
p{
    padding-left: 40px;
    display: flex;
    width: 90%;
    
}
.Logo{
    height: 80px;
   padding: 20px;
    align-items: center;
    justify-content: space-between;
}