.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 20px;
    justify-content: center;
   
  }

  h1{
    display: flex;
    justify-content: center;
  }

  .item-grid button{
   display: flex;
   align-items: center;
  }